<main class="signInContainer">
    <figure class="container_div figure_container">
        <img src="../../../assets/ilustration.svg" alt="">
    </figure>
    <form method="post" class="container_div form_container">
        <label>Entrar com Administrador</label>
        <input type="email" placeholder="Email" [(ngModel)]="user_email" [ngModelOptions]="{standalone: true}">
        <input type="password" placeholder="senha" [(ngModel)]="user_password" [ngModelOptions]="{standalone: true}">
        <button class="btn" type="submit" (click)="handleActiomForm()">Entrar</button>
    </form>
</main>