/* You can add global styles to this file, and also import other style files */
$blue_color: #7880B5;
$crem_color: #ECEBE4;
$green_color: #1EA896;
$red_color: #D55672;
$black_colors: #323031;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}