<div class="dashboard_app">
    <header>
        <img src="../../../assets/logo.svg" alt="logo" class="logo">
        <div>
            <p>Total Visitas</p>
            <span class="visites-txt">1.981.010</span>
        </div>
    </header>
    <button class="btn add_notice">Criar nova noticias</button>
    <article class="notices_container">
        <app-notice-component-dashboard *ngFor="let notice of notices | async" [title]="notice.title" [visites]="notice.view" [id]="notice.id"></app-notice-component-dashboard>
    </article>
</div>